@import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/2.0.46/css/materialdesignicons.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --hoockers-green_20: hsl(148, 20%, 38%, 0.2);
    --pale-spring-bud: hsl(60, 68%, 85%);
    --hoockers-green: hsl(148, 20%, 38%);
    --spanish-gray: hsl(0, 0%, 61%);
    --light-gray: hsl(0, 0%, 80%);
    --cultured-1: hsl(0, 0%, 97%);
    --cultured-2: hsl(60, 6%, 93%);
    --gray-web: hsl(0, 0%, 49%);
    --white_30: hsl(0, 0%, 100%, 0.3);
    --black_70: hsla(0, 0%, 0%, 0.7);
    --black_50: hsla(0, 0%, 0%, 0.5);
    --black_15: hsla(0, 0%, 0%, 0.15);
    --black_10: hsla(0, 0%, 0%, 0.1);
    --black_5: hsla(0, 0%, 0%, 0.05);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
  
    /**
     * gradient color
     */
  
    --gradient: linear-gradient(to right, transparent 50%, var(--white_30) 100%);
  
    /**
     * typography
     */
  
    --ff-urbanist: 'Urbanist', sans-serif;
  
    --fs-1: 4.8rem;
    --fs-2: 4rem;
    --fs-3: 3.4rem;
    --fs-4: 2.4rem;
    --fs-5: 2rem;
    --fs-6: 1.8rem;
    --fs-7: 1.5rem;
    --fs-8: 1.4rem;
    --fs-9: 1.3rem;
  
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
  
    /**
     * spacing
     */
  
    --section-padding: 35px;
  
    /**
     * shadow
     */
  
    --shadow-1: 0 8px 16px var(--black_15);
    --shadow-2: 0 4px 10px var(--black_5);
  
    /**
     * radius
     */
  
    --radius-3: 3px;
  
    /**
     * transition
     */
  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 1s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
    --warna_1: #0F044C;
    --warna_2: #141E61;
    --warna_3: #7b64ff00;
    --warna_4: #15193591;
    --warna_5: #FF9800;
}
.has-scrollbar {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-block-end: 15px;
    margin-block-end: -15px;
    scroll-snap-type: inline mandatory;
  }
.section { padding-block: var(--section-padding); }
.hero { padding-block-start: 0; }
.container { padding-inline: 15px; }
.hero { padding-block-start: 0; }

.hero-card {
  background-color: var(--white);
  padding: 100px 15px;
  background-position: 40%;
}
.product-category-title {
    text-align: center; /* Agar teks berada di tengah */
    margin-left: -50%; /* Menyesuaikan posisi ke kiri sedikit */
    font-size: 1.6rem; /* Ukuran font dapat disesuaikan */
    margin-bottom: 5px; /* Jarak antara judul dan produk */
    font-weight: bold; /* Menebalkan teks */
}

.shop-card .card-content {
    padding-block: 20px;
    text-align: center;
  }
.hero-text {
  font-size: 30px;
  color: var(--white);
  margin-block: 16px 30px;
  font-weight: bold;
}
.hero-text1 {
    font-size: 20px;
    color: var(--black);
    margin-block: 16px 30px;
    font-weight: bold;
  }
.hero .price {
  color: var(--white);
  font-size: 25px;
  font-weight: var(--fw-600);
  margin-block-end: 20px;
}
.btn {
    font-weight: var(--fw-600);
    max-width: max-content;
    padding: 10px 30px;
    border-radius: var(--radius-3);
    transition: var(--transition-1);
    -webkit-transition: var(--transition-1);
    -moz-transition: var(--transition-1);
    -ms-transition: var(--transition-1);
    -o-transition: var(--transition-1);
  }
  
  .btn-primary,
  .btn-secondary:is(:hover, :focus) {
    background-color: var(--hoockers-green);
    color: var(--white);
  }
  
  .btn-primary:is(:hover, :focus) { background-color: var(--hoockers-green); }
  
  .btn-secondary {
    background-color: var(--white);
    color: var(--black);
    box-shadow: var(--shadow-2);
  }
  
  .has-scrollbar {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-block-end: 15px;
    margin-block-end: -15px;
    scroll-snap-type: inline mandatory;
  }
  
  .scrollbar-item {
    min-width: 100%;
    scroll-snap-align: start;
  }
  
  .has-scrollbar::-webkit-scrollbar-track,
  .has-scrollbar::-webkit-scrollbar-thumb { background-color: transparent; }
  
  .has-scrollbar:is(:hover, :focus-within)::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 98%);
  }
  
  .has-scrollbar:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 70%);
  }
  
  .has-before,
  .has-after {
    position: relative;
    z-index: 1;
  }
  
  .has-before::before,
  .has-after::after {
    content: "";
    position: absolute;
  }
  
  .hover\:shine { overflow: hidden; }
  
  .hover\:shine .has-bg-image {
    position: absolute;
    border-radius: 25px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: var(--transition-2);
  }
  
  .hover\:shine:is(:hover, :focus) .has-bg-image { transform: scale(1.15); }
  
  .hover\:shine::before {
    top: 0;
    left: -140%;
    bottom: 0;
    width: 100%;
    background-image: var(--gradient);
    transform: skewX(-25deg);
    transition: var(--transition-2);
    z-index: 1;
  }
  
  .hover\:shine:is(:hover, :focus-within)::before { animation: shine 1s ease forwards; }
  
.hero .scrollbar-item { min-width: 100%; }
.h1,
.h2,
.h3,
.h2-large {
  color: var(--white);
  font-weight: var(--fw-600);
  line-height: 1.3;
}

.h1 {
  font-size: 50px;
  line-height: 1.2;
}
@keyframes shine {
    0% { transform: skewX(-25deg) translateX(0); }
    100% { transform: skewX(-25deg) translateX(250%); }
  }
.btn-link {
    color: var(--black);
    background-color: var(--hoockers-green);
    border-radius: var(--radius-3);
    padding: 10px 30px;
    font-weight: var(--fw-600);
    display: flex;
    align-items: center;
    gap: 3px;
    transition: var(--transition-1);
  }
.img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--white);
    border-radius: 10px;
  }
.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.h2 { font-size: var(--fs-3); }

.h2-large { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-4); }
.has-bg-image {
    border-radius: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
.hero .scrollbar-item { min-width: 100%; }

.footer img {
    padding-top: 2.5rem 0;
}
.back-to-start {
    margin-top: 20px;
    text-align: center;
}

.back-to-start button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-to-start button:hover {
    background-color: #45a049;
}
#resetButton {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resetButton:hover {
    background-color: #0056b3;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    overflow-x: hidden; /* Hilangkan scroll horizontal */
}
.no-results {
    display: none;
    text-align: center;
    font-size: 1.2rem;
    color: red;
    margin-top: 20px;
}
.scroll-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.scroll-buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scroll-buttons button:hover {
    background-color: #0056b3;
}

header {
    background-color:#000000;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: 300px;
}

.container {
    flex: 1; /* Memberikan ruang fleksibel untuk konten utama */
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
}

.filter-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.filter-bar select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    max-width: 100%;
    border-radius: 8px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 16px;
    margin: 10px 0;
    font-weight: bold;
}

.product-card p {
    margin: 5px 0;
    color: #555;
}

.product-card .price {
    font-size: 16px;
    color: #808080;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 1em 0;
    color: rgb(97, 95, 95);
    margin-top: 20px;
    position: static;
    bottom: 0;
    width: 100%;
}